/*
	Inserta tu CSS aqui
*/

/*Aqui comienza mi header*/
body{
	font-family: arial;
}
header{
	background-image: url(../img/grupal.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	width: 100%;
}



.boton{
	background-color: #ECC820;
	margin-top: 70px;
	margin-left: 50px;
	padding: 10px;
	border-radius: 7px;
	width: 70px;
	border: none;
}
.boton a{
	background-color: #ECC820;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

.logo img{
	margin-top: 100px;
	width: 400px;
	margin-left: 200px;
}

ul{
	margin-left: 150px;
}



li{
	float: left;
	font-size: 15px;
	list-style: none;
	margin-top: 80px;
	margin-right: 5px;
}
	

.fotos{
	margin: 10px -150px 30px -150px;
}


img{
	width: 100%;
	color: #030303;
}

h3{
	margin-top: 20px;
}

/*Footer*/
.footer{
	width: 100%;
	color: white;
	background-color: #7A7373;
	padding: 20px 20px;
}

p{
	margin-left: 50px;
}



 